* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(245, 179, 94);
}

.quiz-container {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 black;
  width: 500px;
  height: 350px;
  background-color: white;
  position: relative;
}

#quiz-question {
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
}

ul {
  list-style: none;
  margin-left: 30px;

}
li {
  font-size: 1.2rem;
  margin-bottom: 15px;
  padding: 5px;
  cursor: pointer;
}
#submit{
    background-color: greenyellow;
    display: block;
    border: none;
    width: 100%;
    font-size: 1.2rem;
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    padding: 7.5px;
    border-radius: 0 0 10px 10px;
}
#submit:hover{
    background-color: rgb(118, 9, 9);
    cursor: pointer;
}